.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

body {
    background-color: rgb(86, 89, 94);
    color: white;
    font-family: monospace;
    font-size: 30px;
}
