@tailwind base;
@tailwind components;
@tailwind utilities;

.animateName {
  animation-name: animateName;
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes animateName {
  0% { opacity: 0; }
  15% { opacity: 0; }
  50% { opacity: 1; }
  75% {
    filter: blur(0);
    opacity: 1;
  }
  90% { opacity: 0; }
  100% {
    filter: blur(100px);
    opacity: 0;
  }
}

.animateMain {
  animation-name: animateMain;
  animation-duration: 3s;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes animateMain {
  0% { opacity: 0; }
  53% { opacity: 0; }
  100% { opacity: 1; }
}

.musicCardZoom {
  transition: all 0.2s ease;
}

.musicCardZoom:hover {
  transform: scale(1.04);
  background-color: rgb(50 50 50);
}
