@tailwind base;
@tailwind components;
@tailwind utilities;

.animateSS {
  animation-name: animateSS;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes animateSS {
  0% { opacity: 1; }
  75% {
    filter: blur(0);
    opacity: 1;
  }
  90% { opacity: 0; }
  100% {
    filter: blur(100px);
    opacity: 0;
  }
}

.animateMain {
  animation-name: animateMain;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes animateMain {
  0% { opacity: 0; }
  53% { opacity: 0; }
  100% { opacity: 1; }
}
