@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

.animateSSPath {
  stroke-dasharray: 168.26;
  stroke-dashoffset: 168.26;
  animation: dash 1.25s ease forwards;
}

@keyframes dash {
  to { stroke-dashoffset: 0; }
}
